@CHARSET "UTF-8";

body{
	background: #f7d8a5;
}

.inlineLijst>li{
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 0; 
}

.inlineLijst>li>a{
	padding: 0.5em 1em;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background:  #f7d8a5;
}

.inlineLijst>li>a:hover{
	background:  #8a5b0d;
	color: white;
}

.namenLijst{
	padding: 0.2em 1em;
	margin-left: 5em;
	list-style: circle;
}

h1 {
	text-align: center
}

th {
	font-weight: bold;
	color: white;
	background: #8a5b0d;
}

.rechts{
	text-align: right;
}

td, th{
	padding: 0.2em 1em;
}